<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!--We can pass an object to v-bind:class to dynamically toggle classes.
    Also, can give multiple classes to the toggle field and this also also co-exists 
    with the plain class attribute  -->
    <div id="app">
        <h1>Building HTML Classes</h1>
        <h2>1st Example</h2>
        <div v-on:click="active = !active" v-bind:class="{ active: active}">
            <span>Hello</span>
        </div>
    </div>
    <div id="app-2">
        <h1>Building HTML Classes</h1>
        <h2>2nd Example</h2>
        <button v-on:click="active= !active"> Toggle Active</button>
        <button v-on:click="nearby= !nearby"> Toggle Nearby</button>
        <div v-bind:class="computedClass">
            <span>Hello</span>
        </div>
    </div>
    <div id="app-3">
        <h1>Looping through lists</h1>
        <!-- <ul>
            <li v-for="game in games">{{ game }}</li>
        </ul>
        <ul>
            <li v-for="(player, index) in players">{{ index }} . {{ player.name }} - {{ player.Score }}</li>
        </ul> -->
        <template v-for="player in players">
            <div v-for="(val, key) in player">
                <p> {{ key }}- {{ val }}</p>
            </div>
        </template>
    </div>
    <script src="index.js"></script>
</body>

</html>